name: ???
scenario: ???
dataset: ???
training_version: ???

tensor_type: "torch"
device: "gpu"
num_workers: 4

batch_size: 36
ttsplit: { train: 0.95, valid: 0.05, test: 0.0 }
nepochs: 20
nrefinements: 0
refine_fraction: 0.15
lr: 1e-4
xyflip: True
data_downsample: 1

origin:  { x: 0, y: 0 }
tile_grid:  { x: -1, y: -1 }
tile_size: { x: 48, y: 48 }
batch_domain:  'tiles'
norm: 'lnorm'
conform_to_grid: false
upsample_mode: cubic
downsample_mode: cubic

input_variables: { SST: sea_surface_temperature }
target_variables: [ SST ]
forcing_variables: []





